@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@300&display=swap'); 
/* background */
body {
    background-color:bisque;
  }
/* headings and logo */
#logo{ font-family: 'fredoka one', 'Arial Narrow', Arial, sans-serif;
    float: left;
    font-size: 3rem;
    margin-left: 35px;
    margin-top: auto;
    letter-spacing: 0px;
    color: #534e45;}
    
    /* navigation */
#menu {font-size: 0.5rem;
    letter-spacing: 3px;
    height: 25px;}
#menu , #logo {line-height: 90px;
    }
#menu li {float: right;
    list-style:none;
    margin-right: 20px;
    font-size: 1.5rem;
    font-family:'fredoka one', 'Arial Narrow', Arial, sans-serif;color: #534e45 ; 
    text-transform: uppercase;}
#menu a {text-decoration:none;
    color: inherit;}
h2{font-family:'fredoka one', 'Arial Narrow', Arial, sans-serif;color: #534e45 ; text-transform: uppercase;}
    
#menu a:hover {border-bottom:1px solid #3a3a3a;}
    .active{border-bottom: 1px solid#3a3a3a;}

    /* hero images */
#hero-outer {height: 50vh;
  max-width: 100vw;
    width: 100%;
    overflow: hidden;
    }    
#hero-image {height: 100%;
    width: 100%;
    background:url('../images/sleeping-cat-hero.jpg')
    no-repeat center center }
#hero-image-gallery {height: 100%;
      width: 100%;
      background:url('../images/gallery-hero.jpg')
      no-repeat center center }  
#hero-image-menu {height: 100%;
  width: 100%;
  background:url('../images/beans.jpg')
  no-repeat center center }  
#hero-image-book-in {
      height: 100%;
      width: 100%;
      background:url('../images/book-hero.jpg')
      no-repeat center center }  

/* about us section*/
hr{border-top: 1px solid #00000041;
    width: 100%;
    margin: 3px 0;
  }
div>h2{font-size: 4rem;
    float: left;}
p {font-family:'fredoka', 'Arial Narrow', Arial, sans-serif;
    font-size:300% ;
    color: #3a3a3a;}
section>h2{float:left;}
#about-us{padding-left: 100px;
padding-right: 100px;
padding-bottom: 50px;
padding-top: 50px;}

/*Gallery photos*/
#photos { clear:both;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
}
#photos >img {width: 100%;}

/*cafe menu*/
.text-center {
  text-align: center;
}
.menu-section {
  
  background-size:cover;
  min-height:50vh;
  padding-bottom: 50px;
}

.menu-title {
  padding: 50px 0px 50px 0px;
  font-size: 5rem;
  color: rgb(62, 55, 55);
}

.menu-split {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 60%;
  height: auto;
  margin: auto;
  padding: 25px 50px 25px 50px;
  background-color: rgba(0, 0, 0, 0.366);
  color: white;
  border: 6px solid rgb(174, 174, 174);
  border-radius: 25px;
}

.menu-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 15px;
}

.menu-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.menu-left>h3, .menu-right>h3,
.menu-left>p, .menu-right>p {
  padding-top: 15px;
}

.menu-left>h3, .menu-right>h3 {
  font-size: 1rem;
  text-decoration: underline;
}

.menu-left>p, .menu-right>p {
  font-family: 'Noto', sans-serif;
  font-size:2rem;
}

/* social links & footer*/
.social-networks {text-align: center;}
    .social-networks > li {display: inline;}
    .social-networks i {font-size: 360%;   
    margin: 1%;
    padding:5%;
    color: #ffffff}
    .social-network {text-align: center;}
    .social-network > li {display: inline;}
    .social-network i {font-size: 360%;   
    margin: 1%;
    padding:5%;
    color: #534e45;
    }
footer{background-image:url('../images/beans.jpg');
}  

/*booking form*/
/*Code from https://codepen.io/ and modified*/
form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    float: left;
    margin-left: 1%;
  }
  
  label {
    display: block;
    font-family:'fredoka', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
    font-size: 1em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'fredoka', 'Arial Narrow', Arial, sans-serif;
    width: 80%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 80%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr>form {
    border: 1px dotted #ccc;
  }
  
  button {
    height: 50px;
    background: rgb(27, 109, 79);
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'fredoka', 'Arial Narrow', Arial, sans-serif;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    border: 2px solid black;
  }
   /* media queries*/
    /* for larger to med size screens 1200px wide and down */
    @media screen and (max-width:1200px) {
    .body{padding: 20px; margin: 0;}
    #menu{padding: 20px; margin: 0;
  }
    
    
  }
  /* for medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

  #menu {
      clear: left;
      float: left;
      margin-left: 30px; 
      margin-bottom: 20px; 
      line-height: 25px;}
  
  
  #photos {
      column-count: 3;}
  }
  
  
  /* small screen size */
  @media screen and (max-width:800px) {
      #photos {
          column-count: 2;}
     
      p{text-align:centre;}
       }
  @media screen and (min-device-width: 560px)
        {
         .form {
           width: 400px;
           height: 400px;}}
           
  @media screen and (max-device-width: 480px)
       and (orientation: portrait) {
         .gfg-div {
           width: 200px;
           height: 200px;
          }
          .form {
            width: 400px;
            height: 400px;}
           }
           #menu{font-size: 0.5rem;}
           p{font-size: 2rem;}
  @media screen and (max-device-width: 414px)
           and (orientation: portrait) {
             .gfg-div {
               width: 100px;
               height: 150px;}
               .form {
                width: 400px;
                height: 400px;}
               p{font-size: 1.9rem;}
               #menu{font-size: 0.5rem;}}
  @media screen and (min-device-width: 320px)
           and (-webkit-min-device-pixel-ratio: 2) {
             .gfg-div {
               width: 400px;
               height: 400px;}
               .form {
                width: 300px;
                height: 400px;}
           }
      /* flex*/
      #menu{
        justify-content:center;}
      #footer{
        justify-content:center;
      }