@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@300&display=swap'); 
/* background */
body {
    background-color:bisque;
  }
/* headings and logo */

#logo{ font-family: 'fredoka one', 'Arial Narrow', Arial, sans-serif;
    float: left;
    font-size: 550%;
    margin-left: 35px;
    margin-top: auto;
    letter-spacing: 0px;
    color: #534e45;
    
    }
    
    /* navigation */
#menu {font-size: 150%;
    letter-spacing: 3px;
    height: 25px;}
#menu , #logo {line-height: 90px;
    }
#menu li {float: right;
    list-style:none;
    margin-right: 30px;}
#menu a {text-decoration:none;
    color: inherit;}
h2{font-family:'fredoka one', 'Arial Narrow', Arial, sans-serif;color: #534e45 ; text-transform: uppercase;}
    
#menu a:hover {border-bottom:1px solid #3a3a3a;}
    .active{border-bottom: 1px solid#3a3a3a;}

    /* hero image */
#hero-outer {height: 60vh;
    width: 100%;
    overflow: hidden;
    position: relative;}    
#hero-image {height: 100%;
    width: 100%;
    background:url('../images/cafe-interior.jpg')
    no-repeat center center }
#hero-image-gallery {height: 100%;
      width: 100%;
      background:url('../images/gallery-hero.jpg')
      no-repeat center center }  
#hero-image-menu {height: 100%;
  width: 100%;
  background:url('../images/beans.jpg')
  no-repeat center center }  
#hero-image-book-in {height: 100%;
      width: 100%;
      background:url('../images/book-hero.jpg')
      no-repeat center center }  

/* about us section*/
hr{border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 3px 0;}
div>h2{font-size: 8rem;
    float: left;}
p {font-family:'fredoka', 'Arial Narrow', Arial, sans-serif;
    font-size:300% ;
    color: #3a3a3a;}
section>h2{float:left 50%;}
#about-us{padding-left: 100px;
padding-right: 100px;
padding-bottom: 50px;
padding-top: 50px;}


/*Gallery photos*/

#photos { clear:both;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
}
#photos >img {width: 100%;}

/*cafe menu*/

.text-center {
  text-align: center;
}
.menu-section {
  
  background-size:cover;
  min-height:50vh;
  padding-bottom: 50px;
}

.menu-title {
  padding: 50px 0px 50px 0px;
  font-size: 10rem;
  color: rgb(62, 55, 55);
}

.menu-split {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 60%;
  height: auto;
  margin: auto;
  padding: 25px 50px 25px 50px;
  background-color: rgba(0, 0, 0, 0.366);
  color: white;
  border: 6px solid rgb(174, 174, 174);
 
}

.menu-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 15px;
}

.menu-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.menu-left>h3, .menu-right>h3,
.menu-left>p, .menu-right>p {
  padding-top: 15px;
}

.menu-left>h3, .menu-right>h3 {
  font-size: 2rem;
  text-decoration: underline;
}

.menu-left>p, .menu-right>p {
  font-family: 'Noto', sans-serif;
}

/* social links*/
.social-networks {text-align: center;}
    .social-networks > li {display: inline;}
    .social-networks i {font-size: 360%;   
    margin: 1%;
    padding:5%;
    color: #ffffff}
footer{background-image:url('../images/beans.jpg');}  

/*booking form*/
form {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
  }
  
  div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    float: left;
    margin-left: 1%;
  }
  
  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr>form {
    border: 1px dotted #ccc;
  }
  
  button {
    height: 50px;
    background: rgb(27, 109, 79);
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    border: 2px solid black;
  }